.linkToAnswer {
    margin-top: 30px;
    background-color: rebeccapurple;
    box-shadow: 0 5px 0 white;
    color: white;
    padding: 1em 1.5em ;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.linkToAnswer:hover {
    background-color: #ce0606;
    cursor: pointer;
}

.linkToAnswer:active {
    box-shadow: none;
    top: 5px;
}